.nav {
  display: flex;
  flex-direction: column;
}

.nav > a {
  text-decoration: none;
  height: calc(var(--offset-base-size) * 16);
  display: flex;
  align-items: center;
}

.nav > button {
  display: flex;
  align-items: center;
  text-align: start;
  background: none;
  border: none;
  cursor: pointer;
  height: calc(var(--offset-base-size) * 16);
}

.main {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 20);
}

.main > p {
  opacity: 0.4; 
}