.profile {
  display: flex;
  width: 100%;
  max-width: calc(var(--offset-base-size)  * 310);
  gap: calc(var(--offset-base-size)  * 15);
}

.edit {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size)  * 6);
}

.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}