.ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(var(--offset-base-size)  * 4);
  list-style: none;
}

.stat {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--offset-base-size)  * 2);
}